backup/
certs/
comms/
database/
gcodes/
logs/
misc/
octoeverywhere-store/
systemd/

.moonraker.uuid
moonraker.asvc

octoeverywhere-system.cfg
crowsnest.conf.*
printer-*.cfg
*.bkp
*.conf.bkp
*.conf.backup
