#=====================================================
# BUILD THE BED MESH
#=====================================================
# G29 that does (1) home all (2) get bed mesh (3) move 
# nozzle to corner so it doesnt ooze on the bed while heating up.
# Change save to "save=yourprinter_mesh" cant use default

[gcode_macro G29]
description: Marlin's "Bed Leveling"
gcode:
    G28
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE PROFILE=default
    G0 X0 Y0 Z10 F6000

#=====================================================
# PARK PRINTER
#=====================================================

[gcode_macro M125]
gcode:
    PARK

[gcode_macro M486]
description: Marlin's "Cancel Objects"
gcode:
    # Parameters known to M486 are as follows:
    #   [C<flag>] Cancel the current object
    #   [P<index>] Cancel the object with the given index
    #   [S<index>] Set the index of the current object.
    #       If the object with the given index has been canceled, this will cause
    #       the firmware to skip to the next object. The value -1 is used to
    #       indicate something that isn’t an object and shouldn’t be skipped.
    #   [T<count>] Reset the state and set the number of objects
    #   [U<index>] Un-cancel the object with the given index. This command will be
    #       ignored if the object has already been skipped

    {% if 'exclude_object' not in printer %}
      {action_raise_error("[exclude_object] is not enabled")}
    {% endif %}

    {% if 'T' in params %}
      EXCLUDE_OBJECT RESET=1

      {% for i in range(params.T | int) %}
        EXCLUDE_OBJECT_DEFINE NAME={i}
      {% endfor %}
    {% endif %}

    {% if 'C' in params %}
      EXCLUDE_OBJECT CURRENT=1
    {% endif %}

    {% if 'P' in params %}
      EXCLUDE_OBJECT NAME={params.P}
    {% endif %}

    {% if 'S' in params %}
      {% if params.S == '-1' %}
        {% if printer.exclude_object.current_object %}
          EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
        {% endif %}
      {% else %}
        EXCLUDE_OBJECT_START NAME={params.S}
      {% endif %}
    {% endif %}

    {% if 'U' in params %}
      EXCLUDE_OBJECT RESET=1 NAME={params.U}
    {% endif %}

# filament change 
[gcode_macro M600]
gcode:
    PAUSE
    RESPOND MSG="Filament change!"
    
# load filament. Slow feed filament into the gear, fast load to cold zone then slow load to nozzle.
[gcode_macro M701]
gcode:
    SAVE_GCODE_STATE NAME=loading_filament
    RESPOND MSG="Loading Fil."
    M83
    G92 E0.0
    MIN_TEMP_CHECK
    G1 E{params.FEED_LENGTH|default(10)|int} F200    ; slow feed filament
    G1 E{params.FAST_LOAD_LENGTH|default(50)|int} F2000    ; Fast load to cold zone
    G1 E{params.SLOW_LOAD_LENGTH|default(50)|int} F100     ; Slow load to nozzle
    G92 E0.0
    RESPOND MSG="Ready"
    RESTORE_GCODE_STATE NAME=loading_filament

# Unload filament. Extrude a small amount, quick pull then slow pull
[gcode_macro M702]
gcode:
    SAVE_GCODE_STATE NAME=unloading_filament
    RESPOND MSG="Unloading Fil."
    MIN_TEMP_CHECK
    G91 ; set relative
    G1 E{params.FEED_LENGTH|default(10)|int} F100 
    G92 E0.0
    G1 E-{params.FAST_UNLOAD_LENGTH|default(70)|int} F2000  ; fast unload
    G92 E0.0
    G1 E-{params.SLOW_UNLOAD_LENGTH|default(40)|int} F1000  ; slow unload
    G92 E0.0
    RESPOND MSG="Ready"
    RESTORE_GCODE_STATE NAME=unloading_filament

[gcode_macro M900]
gcode:
    SET_PRESSURE_ADVANCE ADVANCE={params.K|default(0)|float}
